:root {
    --soft-magenta: #d455f8;
    --soft-blue: #5073f6;
    --dark-moderate-blue: #344fa1;
    --dark-blue: #193588;
    --grayish-blue: #bbc2d8;
    --dark-grayish-blue: #48466b;
    --very-dark-blue: #09155a;
    --mostly-desaturated-blue: #7d80aa;
    --mostly-dark-blue: #010319;
    --dark-violet: #552c95;

    --ssm: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.ProgressBar-Container {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 100px;
    height: 3px;
    background-color: var(--dark-moderate-blue);
    border-radius: 2px;
}

.ProgressBar-Filler {
    height: 3px;
    background-color: var(--soft-magenta);
    text-align: right;
    position: relative;
    border: none;
}

.ProgressBar-FillerTop {
    position: absolute;
    bottom: 0;
    width: 3px;
    height: 5px;
    background-color: var(--soft-magenta);
    border: none;
}