:root {
    --soft-magente: #d455f8;
    --soft-blue: #5073f6;
    --dark-moderate-blue: #3d47af;
    --dark-blue: #193588;
    --grayish-blue: #bbc2d8;
    --dark-grayish-blue: #48466b;
    --very-dark-blue: #09155a;
    --mostly-desaturated-blue: #7d80aa;
    --mostly-dark-blue: #010319;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}