:root {
    --soft-magenta: #d455f8;
    --soft-blue: #5073f6;
    --dark-moderate-blue: #344fa1;
    --dark-blue: #193588;
    --grayish-blue: #bbc2d8;
    --dark-grayish-blue: #48466b;
    --very-dark-blue: #09155a;
    --mostly-desaturated-blue: #7d80aa;
    --mostly-dark-blue: #010319;
    --dark-violet: #552c95;

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

.CreateTodoButton {
    background-color: var(--soft-magenta);
    box-shadow:0 5px 25px rgba(92,35,98,.5);
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:50px;
    position:fixed;
    bottom:24px;
    right:24px;
    font-weight:100;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:64px;
    width:64px;
    transform:rotate(0);
    transition:.3s ease;
    z-index: 10;
}
    
.CreateTodoButton:hover{
    transform:rotate(224deg);
}